html {
    text-align: justify;
}

body {
    background-color: #eee;
    font-size: 13px;
    font-family: Arial, Verdana, Lucida, Helvetica, sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
    
}
.error_content {
    background-color: #fff;
}

#headerWrapper {
    position: relative;
    margin: 0;
    background-color: #fff;
}
#header {
    position: relative;
    margin: 0;
    height: 90px;
    margin: 0 auto;
    padding: 0;
    width: 950px;
}
#logo {
    position: absolute;
    margin: 0;
    height: 80px;
    width: 130px;
    background: url(../images/logo.png) no-repeat bottom left ;
    top: 8px;
    left: 0;
}
#welcome {
    position: absolute;
    margin: 0;
    top: 55px;
    right: 0;
    text-align: right;
}

#menu {
    margin: 0 auto;
    padding: 5px;
    width: 940px;
    height: 18px;
    position: relative;
}
#menuWrapper {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width: 100%;
}

#body {
    margin: 0 auto;
    padding: 10px 0 0 0;
    width: 950px;
}
#bodyWrapper {
    width: 100%;
    background-color: #fff;
    padding-bottom: 50px;
}

.error {
    clear: both;
    color: #e3646f;
    font-size: 14px;
    text-align: center;
}

div.menu {
    position: absolute;
    top:6px;
    left:0;
}

div.login_form {
    position: absolute;
    top:0;
    right:0;
}

#content {
    margin:0;
    padding: 0;
    min-height: 400px;
}

#footer {
    clear: both;
    font-size: 11px;
    text-align: center;
    height: 20px;
    border-top: 1px solid #bbb;
    padding: 10px;
}

img {
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

a {
    color: #1b7bc7;
    text-decoration: none;
}
a:hover,a:link,a:visited {
    color: #1b7bc7;
    text-decoration: none;
}
a.selected {
    color: #da1447;
}
h1 {
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 5px 0;
}
h2 {
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding: 5px 0;
}

p {
    margin: 0px;
    padding: 0 10px;
}

table {
    text-align: center;
}

td {
    text-align: left;
    padding: 0px;
}
td.center {
    text-align: center;
}

th {
    font-weight: bold;
}
th.right {
    text-align: right;
    padding-right: 10px;
}

input {
    margin: 0;
    border: 1px solid #bbb;
    background-color: #fafafa;
}
div.login_form input {
    margin: 0;
    border: 1px solid #bbb;
    background-color: #fafafa;
    height: 14px;
}
div.login_form input.login {
    margin: 0;
    border: 1px solid #bbb;
    background-color: #fafafa;
    height: 18px;
}
div.form input{
    margin: 0;
    border: 1px solid #bbb;
    background-color: #fafafa;
    height: 14px;
}

select {
    margin: 0;
    background-color: #fafafa;
    border: 1px solid #bbb;
}
textarea {
    margin: 0;
    background-color: #fafafa;
    border: 1px solid #bbb;
}

form table {
    text-align: center;
    border: 0px;
}

form td {
    text-align: left;
    padding: 10px;
}
div.login_form form td {
    text-align: left;
    padding: 2px;
}

form th {
    text-align: right;
    border: 0px;
    padding: 10px;
}
div.login_form form th {
    text-align: right;
    border: 0px;
    padding: 2px;
}
ul.errorlist {
    list-style: none;
    color: #e3646f;
    margin: 0;
    padding: 3px 0 0;
    text-align: center;
}
ul.errorlist li {
    border-style:none;
    border-width:0;
}

p.warning{
    color: #E3646F;
}

.clear {
    clear: both;
    width: 0px;
    margin: 0px;
    padding: 0px;
}
.separate50 {
    clear: both;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.separate30 {
    clear: both;
    height: 30px;
    margin: 0px;
    padding: 0px;
}
label {
    font-weight: bold;
}

div.left {
    width:500px;
    float:left;
}
div.right {
    width:400px;
    float:right;
}

ul.filestore li {
    list-style: none;
    margin:0;
	padding:0x;
}
div.paging {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 10px;
}