{% load i18n %}
{% load markup %}
{% load staticfiles %}
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href='{% static "css/layout.css" %}' type="text/css" media="screen"/>
    {% block link %}{% endblock %}
    
    <link rel="shortcut icon" href='{% static "images/ome.ico" %}' type="image/x-icon" />
    
    <title>{% trans "OMERO.qa" %}</title>
    
    {% block jscript %}{% endblock %}

</head>
<body {% block body %}{% endblock %}>
    <div id="headerWrapper">
        <div id="header">
            <div id="logo"> </div>
            <div id="welcome">
            {% if user.is_authenticated %}
                <p>{% trans "Welcome" %}, {{ user.first_name }}! <a href="{% url qa_logout %}">{% trans "Logout" %}</a></p>
                <p>{% trans "Last login" %}: {{ user.last_login|date:"Y m d H:i:s" }}</p>
            {% else %}
                <p>{% trans "Welcome" %}!</p>
                <p><a href="{% url qa_register %}">{% trans "Not yet registered?" %}?</a></p>                
            {% endif %} </div>
        </div>
    </div>
    <div id="menuWrapper">
        <div id="menu">
            <div class="menu">
                <a href="{% url index %}" title="Home">{% trans "Home" %}</a> | 
                <a href="{% url validator_upload %}" title="Validator">{% trans "Validator" %}</a> | 
                <a href="{% url feedback %}?status=1" title="Feedback">{% trans "Feedback" %}</a> |
                <a href="{% url qa_upload %}" title="Send files">{% trans "Send files" %}</a> | 
                <a href="{% url registry_statistic %}" title="Statistics">{% trans "Statistics" %}</a> |
                <a href="{% url registry_geomap %}" title="Registry">{% trans "Registry" %}</a> | 
                <a href="{% url registry_demoaccount %}" title="Demo">{% trans "Demo" %}</a>
            </div>
            
            {% if not user.is_authenticated %}<div class="login_form">
                {% if login_form %}<form action="{% url qa_login %}{% if redirect %}?redirect={{ redirect }}{% endif %}" method="post" >{% csrf_token %}
                    <table><tr>
                        {% for field in login_form %}
                            
                                <th>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</th><td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text|safe }}</td>
                            
                        {% endfor %}<td><strong><input type="submit" value="{% trans 'Login' %}" class="login"/></strong></td></tr>
                        </table>
                </form>{% endif %}
            </div>{% endif %}
        </div>
    </div>
    <div id="bodyWrapper">
        <div id="body">
            <div class="error">{% if error %}{{ error }}{% endif %}</div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div id="footer">
        <div>
            <a href="{% url index %}" title="Home">{% trans "Home" %}</a> | 
            {% if not user.is_authenticated %}<a href="{% url qa_register %}" title="Register">{% trans "Register" %}</a> | {% endif %}
            <a href="{% url validator_upload %}" title="Validator">{% trans "Validator" %}</a> | 
            <a href="{% url feedback %}?status=1" title="Feedback">{% trans "Feedback" %}</a> |
            <a href="{% url qa_upload %}" title="Send files">{% trans "Send files" %}</a> | 
            <a href="{% url registry_statistic %}" title="Statistics">{% trans "Statistics" %}</a> |
            <a href="{% url registry_geomap %}" title="Registry">{% trans "Registry" %}</a> | 
            <a href="{% url registry_demoaccount %}" title="Demo">{% trans "Demo" %}</a>
        </div>
        <p>&copy;2009-2012 University of Dundee &amp; Open Microscopy Environment. All Rights Reserved.</p>
    </div>
</div>
</body>
</html>
