{% load i18n %}
{% load markup %}
{% load staticfiles %}
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href='{% static "css/layout.css" %}' type="text/css" media="screen"/>
    
    <link rel="shortcut icon" href='{% static "images/ome.ico" %}' type="image/x-icon" />
    
    <title>{% trans "OMERO.qa" %}</title>

</head>
<body class="error_content">
    {% if is_html %}
        {{ content|safe|linebreaks }}
    {% else %}
        <pre>{{ content|safe|linebreaks }}</pre>
    {% endif %}
