{% extends "qa/base.html" %}
{% load i18n %}
{% load markup %}
{% load staticfiles %}

{% block link %}
    <link rel="stylesheet" href='{% static "css/feedback.css" %}' type="text/css" media="screen"/>
{% endblock %}

{% block content %}

    <h2>{% trans "Feedback" %}</h2>

    {% if user.is_authenticated %}        
        
        {% if token_form %}<form action='{% url qa_feedback_action "add" %}' method="post" >
            <table><tr>
                {% for field in token_form %}

                        <th>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</th><td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text|safe }}</td>

                {% endfor %}<td><input type="submit" value="{% trans 'Add' %}" class="login"/></td></tr>
                </table>
        </form>
        {% endif %}
        
        <table class="feedback">
            <tr><th>ID</th><th>User/email</th><th>Type</th><th>Created</th><th>IP address</th><th>Selected file</th><th>Comment</th><th>Error</th></tr>
        {% if feedback %}{% for f in feedback %}
            <tr>
                <td><a href="{% url qa_feedback_id f.id %}">{{ f.id }}</a></td>
                <td>{{ f.short_user_or_email }}</td>
                <td>{{ f.app_name }}</td>
                <td>{{ f.creation_date|date:"Y m d" }}</td>
                <td>{{ f.ip_address }}</td>
                <td>{{ f.short_selected_file|default_if_none:"-" }}</td>
                <td><a href="{% url qa_feedback_id f.id %}">{{ f.short_comment|default_if_none:"-" }}</a></td>
                <td><a href="{% url qa_feedback_id f.id %}">{{ f.short_error|default_if_none:"-" }}</a></td>
            </tr>
        {% endfor %}{% else %}
        <tr><td colspan="7">No feedbacks</td></tr>
        {% endif %}
        </table>
    
    {% else %}
    <p>If you cannot view feedback you previously submitted, sign up for OMERO.qa then log in.</p>
        <div class="separate30"></div> 

        {% if token_form %}<form action="{% url feedback %}" method="post" >
            <table><tr>
                {% for field in token_form %}

                        <th>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</th><td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text|safe }}</td>

                {% endfor %}<td><input type="submit" value="{% trans 'Show' %}" class="login"/> <input type="button" value="{% trans 'Reset' %}" class="login" onClick="location.href='{% url qa_reset_token %}'" /></td></tr>
                </table>
        </form>
        {% endif %}

        {% if feedback %}
            <table class="feedback">
                <tr><th>ID</th><th>User/email</th><th>Type</th><th>Created</th><th>IP address</th><th>Selected file</th><th>Comment</th><th>Error</th></tr>
            {% for f in feedback %}
                <tr>
                    <td><a href="{% url qa_feedback_id f.id %}?token={{ f.token }}">{{ f.id }}</a></td>
                    <td>{{ f.short_user_or_email }}</td>
                    <td>{{ f.app_name }}</td>
                    <td>{{ f.creation_date|date:"Y m d" }}</td>
                    <td>{{ f.ip_address }}</td>
                    <td>{{ f.short_selected_file|default_if_none:"-" }}</td>
                    <td><a href="{% url qa_feedback_id f.id %}?token={{ f.token }}">{{ f.short_comment|default_if_none:"-" }}</a></td>
                    <td><a href="{% url qa_feedback_id f.id %}?token={{ f.token }}">{{ f.short_error|default_if_none:"-" }}</a></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}
    
{% endblock %}
