{% load i18n %}
{% load markup %}
{% load staticfiles %}
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href='{% static "css/layout.css" %}' type="text/css" media="screen"/>
    <link rel="stylesheet" href='{% static "css/feedback.css" %}' type="text/css" media="screen"/>
    <link rel="shortcut icon" href='{% static "images/ome.ico" %}' type="image/x-icon" />
    
    <title>{% trans "OMERO.qa" %}</title>

</head>
<body class="error_content">
    <h1>Test result:</h1>
    <table class="test_details">
        <tr><th>Time</th><td>started: <strong>{{ content.started|date:"Y m d H:i:s" }}</strong> ended: <strong>{{ content.ended|date:"Y m d H:i:s" }}</strong></td></tr>
        <tr><th>File</th><td>{{ content.test_file.path }} {{ content.test_file.file_name }}</td></tr>
        <tr><th>Error</th><td><pre>{{ content.error }}</pre></td></tr>
    </table>
    
    {% if user.is_staff %}
    <h1>Environment details:</h1>
    <table class="test_details">
        <tr><th>Java version</th><td>{{ content.repo_java_version }}</td></tr>
        <tr><th>Java classpath</th><td>{{ content.repo_java_classpath }}</td></tr>
        <tr><th>Python version</th><td>{{ content.repo_python_version }}</td></tr>
        <tr><th>Python classpath</th><td>{{ content.repo_python_classpath }}</td></tr>
        <tr><th>Repository name</th><td>{{ content.repo_os_name }}</td></tr>
        <tr><th>Repository arch.</th><td>{{ content.repo_os_arch }}</td></tr>
        <tr><th>Repository version</th><td>{{ content.repo_os_version }}</td></tr>
    </table>
    {% endif %}
    
</body>