{% extends "qa/base.html" %}
{% load i18n %}
{% load markup %}


{% block content %}

    {% if user.is_authenticated and user.is_staff %}
    <h2>{% trans "Demo statistics." %}</h2>
    <p>{% trans "Demo statistics are up to date." %}</p>
    <br/>
        <p>
            | <a href="{% url registry_local_statistic %}?stats=1" {% ifequal stats 1 %}class="selected"{% endifequal %} title="Last 30 days">{% trans "Last 30 days" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=2" {% ifequal stats 2 %}class="selected"{% endifequal %} title="Weekly starts"> {% trans "Weekly" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=3" {% ifequal stats 3 %}class="selected"{% endifequal %} title="Starts per country"> {% trans "Starts per country" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=4" {% ifequal stats 4 %}class="selected"{% endifequal %} title="Starts per IP"> {% trans "Starts per IP" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=5" {% ifequal stats 5 %}class="selected"{% endifequal %} title="Operating System"> {% trans "Operating System" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=6" {% ifequal stats 6 %}class="selected"{% endifequal %} title="Environment"> {% trans "Environment" %}</a>
            | <a href="{% url registry_local_statistic %}?stats=7" {% ifequal stats 7 %}class="selected"{% endifequal %} title="Demo server"> {% trans "Demo server" %}</a> |
        </p>
        
        <div class="separate50"></div>
    
    
    {% if result %}
    
    <h1>Demo server contains {{ result.account_details.total }} accounts. Of these, only {{ result.account_details.used }} have been used since the beginning.</h1>
    <h1>Sessions created on the demo server:</h1>
        <table>
            <tr><th>&nbsp;</th>
            {% for cn in result.activities.keys %}
                <th>{{ cn }}</th> 
            {% endfor %}
            </tr>

            {% for res in result.activities.results %}
                <tr><th class="right">{{ res.0 }}</th>
                {% for res2 in res.1 %}
                    <td class="center">{{ res2.1 }} {% if res2.2 %}({{ res2.2|floatformat:2 }}%){% endif %}</td>
                {% endfor %}
                </tr>
            {% endfor %}    
        </table>
        
        <h1>{% trans "File formats imported to the demo server:" %}</h1>
        
        <table>
            {% for f in result.formats.formats %}
            <tr><th>{{ f.0 }}</th><td>{{ f.1 }}</tr>
            {% endfor %}
        </table>

        <h1>{% trans "File formats imported to the demo server by the user:" %}</h1>
        
        <table>
            {% for res in result.formats.per_user %}
                <tr><th class="right">{{ res.0 }}</th>
                {% for res2 in res.1 %}
                    <td class="center">{{ res2.0 }} ({{ res2.1}})</td>
                {% endfor %}
                </tr>
            {% endfor %}    
        </table>
    {% else %}
        <p>Demo server statistics not available. Contact Ola ;-)</p>
    {% endif %}
    
    
    
    
    {% endif %}
    
{% endblock %}