{% extends "qa/base.html" %}
{% load i18n %}
{% load markup %}

{% block content %}

<h2>{% trans "Ask for demo server account." %}</h2>


<p><strong>{% trans "What is Open Microscopy Environment." %}</strong></p>

<p>{% trans "OME is an umbrella term that stands for" %} <strong>{% trans "Open Microscopy Environment" %}</strong> {% trans "and covers:" %}
<ul>
    <li>{% trans "The OME file formats, including OME-XML and OME-TIFF, and the Bio-Formats Java library." %}</li>
    <li>{% trans "The OME database systems for microscopy data management and analysis comprising the original OME Server and the OMERO." %}</li>
    <li>{% trans "The OME consortium, the group behind these efforts." %}</li>
</ul>
</p>

<p>{% trans "The core site for the Open Microscopy Environment is located at" %} <a href="http://www.openmicroscopy.org/">http://www.openmicroscopy.org/</a></p>
<br/>
<p><strong>{% trans "Demo Server Account." %}</strong></p>
<p>Take advantage of the OMERO platform and ask for a free Demo Account. Service is hosted by the <strong>Karlsruher Institut
für Technologie</strong>. We will contact you and provide you with a server name, username and password, allowing you to connect to the KIT server in Germany.</p>
<p class="warning">Please be patient as it may take a few days to process your application after we receive it.</p>
<br/>

{% if thanks %}
    <div class="error">{{ thanks }}</div>
{% else %}
    <form action="{% url registry_demoaccount "enquiry" %}" method="post">
    <table>
        {% for field in demo_form %}
            <tr>
                <th>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</th><td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}</td>
            </tr>
        {% endfor %}
            <tr><td></td><td><input type="submit" value="{% trans 'Save' %}" /></td></tr>
        </table>
    </form>
{% endif %}
{% endblock %}

