{% extends "registry/base.html" %}
{% load i18n %}
{% load markup %}
{% load staticfiles %}
{% load custom_tags %}

{% block link %}
    <link rel="stylesheet" href='{% static "css/layout.css" %}' type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={% setting GOOGLE_KEY %}&sensor=false" type="text/javascript"></script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"></script>
<script type="text/javascript">

var map = null;

function setupMap() {
    if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        {% ifequal continent 1 %}
        map.addControl(new GMapTypeControl());
        map.disableDoubleClickZoom();
        {% else %}
        map.addControl(new GLargeMapControl());
        map.enableDoubleClickZoom();
        {% endifequal %}
        {% if center %}
        map.setCenter(new GLatLng({{ center.1 }}, {{ center.0 }}), {{ zoom }});
        {% else %}
        map.setCenter(new GLatLng(30, 10), 2);
        {% endif %}
        window.setTimeout(setupOmeroMarkers, 0);
  }
}

function getOmeroIcon(agent_name) {
    var icon = new GIcon();
    icon.image = '{% static "images/" %}'+agent_name+'.png';
    icon.iconAnchor = new GPoint(20, 22);
    icon.infoWindowAnchor = new GPoint(50, 0);
    icon.iconSize = new GSize(20, 22);
    return icon;
}

function createMarker(latlng, number) {       
    var marker = new GMarker(latlng[0], { icon: getOmeroIcon("Omero") });
    marker.value = number;
    GEvent.addListener(marker,"click", function() {
          
        var temp1=latlng[0].lat()
        temp1=Math.round(temp1*Math.pow(10,2))/Math.pow(10,2);
        var temp2=latlng[0].lng()
        temp2=Math.round(temp2*Math.pow(10,2))/Math.pow(10,2);
             
        var myHtml = "<small>Latitude: "+temp1+"; Longitude:"+temp2+"</small><br/><br/>They use OMERO:<br/><b>"+latlng[1]+"</b>";
        map.openInfoWindowHtml(latlng[0], myHtml);
    });
    return marker;
}

function createTeamMarker(latlng, number) {
    var latlng = new GLatLng(latlng[0], latlng[1]);       
    var marker = new GMarker(latlng, { icon: getOmeroIcon("OmeroTeam") });
    marker.value = number;
    GEvent.addListener(marker,"click", function() {
          
        var temp1=latlng.lat()
        temp1=Math.round(temp1*Math.pow(10,2))/Math.pow(10,2);
        var temp2=latlng.lng()
        temp2=Math.round(temp2*Math.pow(10,2))/Math.pow(10,2);
             
        var myHtml = "<small>Latitude: "+temp1+"; Longitude:"+temp2+"</small><br/><br/><b>OMERO TEAM:</b><br/><b>Server, Insight, Importer, Editor, Web</b>";
        map.openInfoWindowHtml(latlng, myHtml);
    });
    return marker;
}

function setupOmeroMarkers() {
    GDownloadUrl("{% url registry_geoxml %}?{% if continent %}continent={{ continent }}{% endif %}{% if agent %}agent={{ agent }}{% endif %}", function(data, responseCode) {
        if(responseCode == 200) {
            var xml = GXml.parse(data);
            var objects = xml.documentElement.getElementsByTagName("object");
            var objects_size = objects.length;
            for (var i = 0; i < objects_size; i++) {
                var lat = parseFloat(GXml.value(objects[i].childNodes[0]));
                var lng = parseFloat(GXml.value(objects[i].childNodes[1]));
                var ag = GXml.value(objects[i].childNodes[2]);
                var latlng = new GLatLng(lat, lng);
                var marker = createMarker([latlng, ag], i + 1);
                map.addOverlay(marker); 
            }
            
            var team = new Array(new Array(56.45767, -2.98681, "Dundee, UK"), new Array(54.860816,-1.842353, "Consett, UK"), new Array(43.0760993958, -89.4104003906, "Madison, Wisconsin, USA"), new Array(50.035974, 8.157349, "Walluf, DE"), new Array(37.027803, -7.973762, "Faro, PT"));

            {% if continent or agent %}
            for (var i = 0; i < team.length; i++) {
                if (objects_size > 0) {
                    var marker1 = createTeamMarker(team[i], objects_size+i);
                } else {
                    var marker1 = createTeamMarker(team[i], i+1);
                }
                map.addOverlay(marker1);
            }
            var x=document.getElementById('filter').rows
            var y=x[0].cells
            objects_size = objects_size + team.length
            y[7].innerHTML= objects_size + " objects found."
            {% endif %}
        } else if(responseCode == -1) {
            alert("Data request timed out. Please try later.");
        } else { 
            alert("Request resulted in error. Check XML file is retrievable.");
        }
    });
}

/*function setupOmeroMarkers() {
    var mgr = new MarkerManager(map);
    mgr.addMarkers( getOmeroMarkers(), {{ zoom|default_if_none:"2" }});
    mgr.refresh();
}*/

</script>
{% endblock %}

{% block body %} onload="setupMap()" onunload="GUnload()" {% endblock %}

{% block content %}
    <h1>{% trans "OMERO.qa" %}</h1>

    {% if cont_form or agent_form %}<form action="{% url registry_geomap %}" method="post">
    <table id="filter">
        <tr>
        {% for field in cont_form %}
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}{{ field.help_text }}</td>
        {% endfor %}
        <td> or </td>
        {% for field in agent_form %}
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}{{ field.help_text }}</td>
        {% endfor %}
        <td id="count" class="error">{% if continent %}Loading... please wait, it can take up to 30 sec.{% endif %}{% if agent %}Loading... please wait, it can take up to 30 sec.{% endif %}</td>
        </tr>
    </table>
    </form><br/>
    {% endif %}
    
    <div id="map_canvas" class="map"></div>
    

{% endblock %}
