{% extends "qa/base.html" %}
{% load i18n %}
{% load markup %}
{% load staticfiles %}

{% block jscript %}
    <script type="text/javascript" src='{% static "javascript/jquery_1.2.6.js" %}'></script>

    <script type="text/javascript">
        $(function () {
            var img = new Image();
            $(img).load(function () {
                //$(this).css('display', 'none'); // .hide() doesn't work in Safari when the element isn't on the DOM already
                $(this).hide();
                $('#piechart').removeClass('loading').append(this);
                $(this).fadeIn();
            }).error(function () {
                // notify the user that the image could not be loaded
                $('#piechart').removeClass('loading')
                $('#piechart').html('<p class="error">Chart could not be displayed.</p>').show();
                }).attr('src', '{% url registry_file_statistic_chart %}').attr('width', 500);
            
            var img = new Image();
            $(img).load(function () {
                //$(this).css('display', 'none'); // .hide() doesn't work in Safari when the element isn't on the DOM already
                $(this).hide();
                $('#pollchart').removeClass('loading').append(this);
                $(this).fadeIn();
            }).error(function () {
                // notify the user that the image could not be loaded
                $('#pollchart').removeClass('loading')
                $('#pollchart').html('<p class="error">Chart could not be displayed.</p>').show();
                }).attr('src', '{% url registry_statistic_chart %}').attr('width', 500);
            });
    </script>
    
{% endblock %}

{% block content %}

    {% if user.is_authenticated and user.is_staff %}
    <h2>{% trans "Local statistics." %}</h2>
    <p>{% trans "Local statistics are cached by the local cache backend and are updated every 24 hours" %}</p>
    <br/>
        <p>
            | <a href="{% url registry_local_statistic %}?stats=1" {% ifequal stats 1 %}class="selected"{% endifequal %} title="Last 30 days">{% trans "Last 30 days" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=2" {% ifequal stats 2 %}class="selected"{% endifequal %} title="Weekly starts"> {% trans "Weekly" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=3" {% ifequal stats 3 %}class="selected"{% endifequal %} title="Starts per country"> {% trans "Starts per country" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=4" {% ifequal stats 4 %}class="selected"{% endifequal %} title="Starts per IP"> {% trans "Starts per IP" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=5" {% ifequal stats 5 %}class="selected"{% endifequal %} title="Operating System"> {% trans "Operating System" %}</a> 
            | <a href="{% url registry_local_statistic %}?stats=6" {% ifequal stats 6 %}class="selected"{% endifequal %} title="Environment"> {% trans "Environment" %}</a>
            | <a href="{% url registry_local_statistic %}?stats=7" {% ifequal stats 7 %}class="selected"{% endifequal %} title="Demo server"> {% trans "Demo server" %}</a> |
        </p>
        
        <div class="separate50"></div>
    
    {% endif %}
        
    <h2>{% trans "File statistics." %}</h2>

    <p>We already keep {{ total.files }} files in our feedback repository.</p>
    
    <div class="separate50"></div>
    <table>
        <tr>
            <td>
                <table>
                    {% for f in files %}
                        <tr><td><strong>{{ f.0 }}</strong>: {{ f.1|floatformat:1 }}%.</td></tr>
                    {% endfor %}
                </table>
            </td>
            <td><div id="piechart" class="loading"></div></td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr><td>&nbsp;</td><th>Total</th><td>&nbsp;</td><th>This month</th><td>&nbsp;</td><th>Today</th></tr>
                    <tr><th>files</th><td>{{ total.files }}</td><td>&nbsp;</td><td>{{ month.files }}</td><td>&nbsp;</td><td>{{ today.files }}</td></tr>
                    <tr><th>results</th><td>{{ total.results }}</td><td>&nbsp;</td><td>{{ month.results }}</td><td>&nbsp;</td><td>{{ today.results }}</td></tr>
                    <tr><th>failure</th><td>{{ total.failure }}</td><td>&nbsp;</td><td>{{ month.failure }}</td><td>&nbsp;</td><td>{{ today.failure }}</td></tr>
                </table>
            </td>
            <td><div id="pollchart" class="loading"></div></td>
            
        </tr>
    </table>

{% endblock %}
